.root {
    -fx-background-image: url("Images/BackgroundNutrition-8.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
/* Gradient Button */
.button {
    -fx-background-color: #6a11cb;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 2px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

/* Hover Effect */
.button:hover {
    -fx-background-color: #5611a1;
}

/* Pressed Effect */
.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #d1d1d1, #000033);
}
.x-large-font {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.some-class {
    -fx-font-size: 20px; /* Correct */
}
#imcLabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}
