/* styles.css */
.root {
    -fx-background-image: url("Images/bck.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

/* Gradient Button */
.button {
    -fx-background-color: #6a11cb;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 2px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

/* Hover Effect */
.button:hover {
    -fx-background-color: #5611a1;
}

/* Pressed Effect */
.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #d1d1d1, #5026);
}

/* TableView styles */
.table-view {
    -fx-background-color: #f3e5f5; /* Light purple background */
    -fx-border-color: #ab47bc; /* Darker purple border */
    -fx-border-radius: 5px;
}

.table-view .column-header-background {
    -fx-background-color: #ab47bc; /* Darker purple for header */
}

.table-view .table-row-cell {
    -fx-background-color: #f3e5f5; /* Light purple for rows */
}

.table-view .table-row-cell:odd {
    -fx-background-color: #e1bee7; /* Slightly darker purple for odd rows */
}

.table-view .table-row-cell:selected {
    -fx-background-color: #ce93d8; /* Highlight color for selected row */
    -fx-text-fill: white;
}

/* Button styles for TableView */
.table-view .button {
    -fx-background-color: #6a11cb;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 2px 10px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.table-view .button:hover {
    -fx-background-color: #5611a1;
}

.table-view .button:pressed {
    -fx-background-color: linear-gradient(to bottom, #d1d1d1, #5026);
}